/* NO FOUND, ERROR 404 */
@import url(../fonts/ft40/ft40.css);
@import url(../fonts/AG Book Pro Regular/AG Book Pro Regular.css);
@import url(../fonts/AG Book Pro Bold/AG Book Pro Bold.css);
.no-found {
  height: 100vh;
  position: relative;
  max-width: 1200px;
  margin: auto; }
  .no-found-wrapper {
    background-color: #f3762e;
    overflow: hidden; }
  .no-found__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .no-found__text {
    color: #ffffff;
    font-family: "ProbaPro-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin-top: 30px; }
  .no-found__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 210px;
    height: 50px;
    -webkit-border-radius: 45px;
            border-radius: 45px;
    background-color: #ffffff;
    color: #383838;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 55px auto 0; }
  .no-found__icon {
    position: absolute; }
    .no-found__icon-top {
      display: inline-block;
      top: 0;
      left: 0; }
    .no-found__icon-bottom {
      display: inline-block;
      bottom: 0;
      right: 0; }
