.face {
  position: relative;
  min-height: 300px; }
  .face__image {
    max-width: 225px;
    position: absolute;
    left: 50%;
    top: 40px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .face__place {
    max-width: 125px;
    position: absolute;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-57%) rotate(90deg);
        -ms-transform: translateX(-57%) rotate(90deg);
            transform: translateX(-57%) rotate(90deg); }

.circle {
  text-align: center;
  position: relative; }
  .circle__image {
    max-width: 20px; }
  .circle__title {
    background: transparent;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear; }
  .circle__list {
    padding-left: 0;
    text-align: left;
    width: 100%; }
  .circle__item {
    display: block;
    font-style: italic;
    text-align: center; }
  .circle__category {
    font-size: 13px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 275px;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear; }

.line {
  background-color: red;
  position: absolute;
  left: 50%;
  top: 24px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  height: 0;
  -webkit-transition: height .5s linear;
  -o-transition: height .5s linear;
  transition: height .5s linear;
  width: 2px; }
  .line__full {
    opacity: 1;
    height: 250px; }
  .line_black {
    background-color: #333; }
  .line_red {
    background-color: #F25555; }
  .line_yellow {
    background-color: #FFB243; }
  .line_blue {
    background-color: #4ECDF9; }
