/* STUDIO */
/* FONTS */
@font-face {
  font-family: "ProbaPro";
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2");
  font-style: normal; }

@font-face {
  font-family: "LucidGrande-Regular";
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf") format("ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "ProbaPro-Regular";
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "ProbaPro-Bold";
  src: url("../fonts/ProbaPro/ProbaPro-Bold.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "ProbaPro-Medium";
  src: url("../fonts/ProbaPro/ProbaPro-Medium.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500; }

.studio {
  background-color: #f3762e;
  padding-bottom: 160px; }
  .studio__container {
    width: 100%;
    padding: 0 1rem; }
  .studio__title {
    color: #ffffff;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.21px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 5px; }
  .studio__description {
    text-align: center;
    position: relative; }
  .studio__text {
    color: #ffffff;
    font-family: "ProbaPro-Medium", sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: auto;
    width: 100%; }
  .studio__link {
    background-color: #ffffff;
    border-radius: 45px;
    color: #383838;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    height: 30px;
    margin: 25px auto;
    position: relative;
    z-index: 2; }
  .studio-icons {
    font-size: 0;
    position: relative; }
    .studio-icons-bird {
      position: absolute;
      left: 25px;
      width: 28px;
      height: 30px;
      bottom: 0; }
    .studio-icons-karlson {
      width: 250px;
      height: 200px;
      bottom: -40px;
      right: 50%;
      position: absolute;
      z-index: 3;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%); }

@media screen and (min-width: 580px) {
  .studio__description {
    max-width: 70%;
    margin: auto; }
  .studio-icons-bird {
    left: 0; } }

@media screen and (min-width: 768px) {
  .studio {
    padding-bottom: 320px; }
    .studio__container {
      max-width: 991px;
      margin: auto; }
    .studio__title {
      font-size: 70px;
      line-height: 50px;
      letter-spacing: 0.21px;
      padding-top: 120px;
      margin-bottom: 60px; }
    .studio__text {
      font-size: 32px;
      line-height: 48px; }
    .studio__link {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1.5px;
      margin: 80px auto 0;
      width: 300px;
      height: 50px;
      text-transform: uppercase; }
    .studio-icons-bird {
      bottom: -20px;
      width: auto;
      height: auto; }
    .studio-icons-karlson {
      bottom: -60px;
      width: 385px;
      height: 306px; } }

@media screen and (min-width: 992px) {
  .studio__container {
    max-width: 1200px; }
  .studio__description {
    max-width: 70%; } }

@media screen and (min-width: 1200px) {
  .studio__description {
    max-width: 80%; } }

/*/ STUDIO */
.studio-about {
  background-color: #fff;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 6;
  overflow-x: hidden; }
  .studio-about-active {
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll; }
  .studio-about__row {
    position: relative;
    padding: 1rem; }
    .studio-about__row:after {
      content: '';
      display: table;
      clear: both; }
    .studio-about__row-yellow {
      background-color: #fdb814; }
    .studio-about__row-coral {
      background-color: #00abcc; }
      .studio-about__row-coral-after {
        content: '';
        display: table;
        clear: both; }
      .studio-about__row-coral .pig {
        width: 115px;
        height: 115px;
        float: right;
        padding-right: 0;
        margin-bottom: 14px; }
        @media screen and (min-width: 768px) {
          .studio-about__row-coral .pig {
            width: 260px;
            height: 260px; } }
        @media screen and (min-width: 992px) {
          .studio-about__row-coral .pig {
            margin-right: 140px; } }
  .studio-about__close {
    background: #383838 url("../img/close.svg") no-repeat center;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    float: right; }
    @media screen and (min-width: 768px) {
      .studio-about__close {
        width: 50px;
        height: 50px; } }
  .studio-about__title {
    color: #ffffff;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.21px;
    padding: 0 1rem;
    text-align: center; }
    @media screen and (min-width: 992px) {
      .studio-about__title {
        font-size: 70px;
        line-height: 50px; } }
    .studio-about__title-mini {
      background: #00abcc;
      color: #ffffff;
      font-family: "ProbaPro-Bold", sans-serif;
      font-size: 32px;
      line-height: 36px;
      width: 100%;
      text-align: left; }
      @media screen and (min-width: 768px) {
        .studio-about__title-mini {
          text-align: center; } }
      @media screen and (min-width: 992px) {
        .studio-about__title-mini {
          font-size: 42px;
          line-height: 48px; } }
  .studio-about__description {
    color: #ffffff;
    font-family: "ProbaPro-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    max-width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .studio-about__description {
        font-size: 32px;
        line-height: 48px;
        max-width: 60%;
        margin: 60px auto;
        padding-bottom: 113px; } }
  .studio-about__images {
    position: relative; }
    .studio-about__images .header__logo_link-studio {
      display: none;
      border-radius: 50%;
      width: 120px;
      height: 117px;
      background: #00abcc url(../img/logo-text.png) no-repeat center;
      -webkit-transition: background-color 0.25s linear;
      -o-transition: background-color 0.25s linear;
      transition: background-color 0.25s linear;
      position: absolute;
      top: 20px;
      left: 140px; }
      @media screen and (min-width: 992px) {
        .studio-about__images .header__logo_link-studio {
          display: inline-block; } }
      @media screen and (min-width: 1200px) {
        .studio-about__images .header__logo_link-studio {
          background-size: 70%;
          width: 200px;
          height: 196px;
          left: 22.5%;
          top: 37.5%; } }
    .studio-about__images .studio-bg-yellow {
      width: 100%; }
    .studio-about__images .studio-about-img {
      left: 50%;
      bottom: -15px;
      width: 160px;
      height: 114px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media screen and (min-width: 768px) {
        .studio-about__images .studio-about-img {
          width: 360px;
          height: 257px; } }
      @media screen and (min-width: 1200px) {
        .studio-about__images .studio-about-img {
          bottom: -35px; } }
      .studio-about__images .studio-about-img-absolute {
        position: absolute; }
  .studio-about__bottom {
    font-size: 0;
    clear: both;
    position: relative;
    margin-top: 40px; }
    @media screen and (min-width: 768px) {
      .studio-about__bottom {
        margin-top: 130px; } }
    .studio-about__bottom .studio-bg-coral {
      width: 100%; }
    .studio-about__bottom .header__social {
      display: block; }
      .studio-about__bottom .header__social img {
        margin: 0 5px; }
    .studio-about__bottom_text {
      color: #ffffff;
      font-family: "ProbaPro-Regular", sans-serif;
      font-size: 16px;
      line-height: 24px;
      max-width: 100%;
      margin: 0; }
      @media screen and (min-width: 768px) {
        .studio-about__bottom_text {
          max-width: 680px;
          margin: 40px auto; } }
      @media screen and (min-width: 992px) {
        .studio-about__bottom_text {
          font-size: 20px;
          line-height: 30px; } }
  .studio-about__share {
    color: #383838;
    font-family: "ProbaPro-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-right: 15px; }
  .studio-about__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .studio-about__social {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .studio-about__video {
    background-color: #fff;
    margin: 40px auto 0;
    width: 100%;
    height: 160px;
    padding: 0 1rem; }
    @media screen and (min-width: 580px) {
      .studio-about__video {
        height: 320px; } }
    @media screen and (min-width: 768px) {
      .studio-about__video {
        height: 500px;
        margin: 140px auto 0; } }
    @media screen and (min-width: 992px) {
      .studio-about__video {
        background-color: #000;
        margin: 140px auto 0;
        width: 1160px;
        height: 660px; } }
    .studio-about__video .video__viewport {
      width: 100%;
      height: 100%;
      position: relative; }
    .studio-about__video .video-poster {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1; }
    .studio-about__video .video-frame {
      margin: auto;
      width: 100%;
      height: 100%; }
