/* TABS */
.tabs-container {
  position: relative;
  padding: 0 1rem; }

ul.tabs {
  margin-top: 30px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 851px) {
    ul.tabs {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  @media screen and (min-width: 992px) {
    ul.tabs {
      margin: 0; } }
  ul.tabs li {
    background: none;
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    font-family: "ProbaPro-Bold",sans-serif;
    font-size: 9px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear; }
    ul.tabs li:hover {
      color: #383838; }
    ul.tabs li.current {
      border-radius: 25px;
      background-color: #ffffff;
      color: #383838; }
      ul.tabs li.current:hover {
        -webkit-filter: drop-shadow(0px 0px 2.5px #fff);
                filter: drop-shadow(0px 0px 2.5px #fff); }
    @media screen and (min-width: 769px) {
      ul.tabs li {
        padding: 0 25px;
        font-size: 18px;
        height: 50px;
        line-height: 50px; } }

.tab-content {
  display: none;
  padding: 0; }
  @media screen and (min-width: 769px) {
    .tab-content {
      padding: 0 1rem; } }
  .tab-content.current {
    display: inherit; }

.tab-link {
  font-size: 1rem; }
  .tab-link.current {
    display: inherit; }
