/* VACANCIES */
/* FONTS */
@font-face {
  font-family: "ProbaPro";
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2");
  font-style: normal; }

@font-face {
  font-family: "LucidGrande-Regular";
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf") format("ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "ProbaPro-Regular";
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "ProbaPro-Bold";
  src: url("../fonts/ProbaPro/ProbaPro-Bold.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "ProbaPro-Medium";
  src: url("../fonts/ProbaPro/ProbaPro-Medium.woff") format("woff");
  src: url("../fonts/ProbaPro/ProbaPro-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500; }

.vacancies {
  background: #635eaa;
  padding-top: 60px; }
  @media screen and (min-width: 768px) {
    .vacancies {
      padding-top: 100px; } }
  .vacancies-section {
    font-size: 0; }
  .vacancies__container {
    padding: 0 1rem;
    position: relative; }
  .vacancies__icon {
    position: absolute;
    bottom: -120px;
    left: 1rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 80px;
    z-index: 4; }
    .vacancies__icon img {
      width: 100%;
      height: 100%; }
  .vacancies__title {
    color: #ffffff;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 40px;
    line-height: 30px;
    padding-bottom: 35px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .vacancies__title {
        font-size: 72px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 40px; } }
    @media screen and (min-width: 1200px) {
      .vacancies__title {
        padding-top: 0; } }
  .vacancies__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .vacancies__link {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    display: block;
    font-family: "ProbaPro-Medium", sans-serif;
    font-size: 18px;
    padding: 12.5px 0;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .vacancies__link:hover {
      background-color: #fff;
      color: #383838; }
  .vacancies__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .vacancies__footer {
    padding-top: 25px;
    padding-bottom: 0;
    text-align: center; }
    @media screen and (min-width: 1200px) {
      .vacancies__footer {
        padding-top: 50px; } }
    .vacancies__footer-link {
      color: #ffffff;
      display: inline-block;
      font-family: "ProbaPro-Regular", sans-serif;
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
      margin-bottom: 60px;
      text-decoration: underline;
      opacity: 0.5; }
    .vacancies__footer-text {
      color: #ffffff;
      font-family: "ProbaPro-Regular", sans-serif;
      font-size: 16px;
      line-height: 22px;
      opacity: 0.5;
      overflow: hidden;
      max-height: 22px; }
      @media screen and (min-width: 992px) {
        .vacancies__footer-text {
          opacity: 1; } }

@media screen and (min-width: 768px) {
  .vacancies__list {
    max-width: 760px;
    margin: auto; } }

@media screen and (min-width: 992px) {
  .vacancies__link {
    font-size: 24px;
    padding: 28.5px 0; }
  .vacancies__icon {
    top: 50%;
    bottom: auto;
    height: 350px;
    width: 200px; } }

@media screen and (min-width: 1200px) {
  .vacancies__footer {
    padding-bottom: 0; }
    .vacancies__footer-link {
      margin-bottom: 0; }
  .vacancies__title {
    font-size: 72px;
    line-height: 50px;
    padding-bottom: 60px; } }

/*/ VACANCIES */
/*vacancies-post*/
#vacancies-post {
  padding: 0;
  width: 100%;
  height: 100%; }

.vacancies-post {
  background-color: #635eaa;
  color: #ffffff;
  padding: 70px 1rem;
  max-width: 100%; }
  .vacancies-post .vacancies__footer-link {
    margin-bottom: 0; }
  .vacancies-post__container {
    max-width: 100%; }
    @media screen and (min-width: 768px) {
      .vacancies-post__container {
        max-width: 760px;
        margin: auto; } }
  .vacancies-post__title {
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 32px;
    line-height: 38px;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .vacancies-post__title {
        font-size: 42px;
        line-height: 54px;
        text-align: center; } }
  .vacancies-post__budget {
    color: rgba(255, 255, 255, 0.5);
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    padding-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .vacancies-post__budget {
        font-size: 42px;
        line-height: 54px;
        text-align: center; } }
    @media screen and (min-width: 1200px) {
      .vacancies-post__budget {
        padding-bottom: 0;
        margin-left: 15px; } }
  @media screen and (min-width: 1200px) {
    .vacancies-post__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .vacancies-post__exp {
    font-family: "ProbaPro-Medium", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .vacancies-post__exp {
        font-size: 24px;
        line-height: 38px;
        text-align: center; } }
  .vacancies-post__row {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding-top: 1rem;
    margin-top: 1rem; }
    .vacancies-post__row--last {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 1rem; }
      @media screen and (min-width: 1200px) {
        .vacancies-post__row--last {
          padding-bottom: 40px; } }
    @media screen and (min-width: 1200px) {
      .vacancies-post__row {
        margin-top: 40px; } }
  .vacancies-post__text-opacity {
    color: rgba(255, 255, 255, 0.5);
    font-family: "ProbaPro-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1rem; }
  .vacancies-post__text li span {
    font-family: "ProbaPro-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 1rem; }
    @media screen and (min-width: 768px) {
      .vacancies-post__text li span {
        font-size: 20px;
        line-height: 28px; } }

/*/vacancies-post*/
