/* FONTS */
@font-face
  font-family: "ProbaPro"
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2")
  font-style: normal

@font-face
  font-family: "LucidGrande-Regular"
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf") format("ttf")
  font-style: normal
  font-weight: 400
