/* FONTS */
@font-face
  font-family: "ProbaPro"
  src: url("../fonts/ProbaPro/ProbaPro-Regular.ttf") format("ttf")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.eot")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.ttf") format("truetype")
  //src: url("../fonts/ProbaPro/ProbaPro-Regular.svg#ProbaPro-Regular") format("svg")
  font-style: normal

@font-face
  font-family: "LucidGrande-Regular"
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf") format("ttf")
  src: url('../fonts/LucidaGrande/LucidaGrande.eot')
  src: url('../fonts/LucidaGrande/LucidaGrande.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/LucidaGrande/LucidaGrande.woff2') format('woff2')
  src: url('../fonts/LucidaGrande/LucidaGrande.woff') format('woff')
  //src: url('../fonts/LucidaGrande/LucidaGrande.svg#LucidaGrande') format('svg')
  font-style: normal
  font-weight: 400

@font-face
  font-family: "ProbaPro-Regular"
  src: url("../fonts/ProbaPro/ProbaPro-Regular.ttf") format("ttf")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.eot")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.woff2") format("woff2")
  src: url("../fonts/ProbaPro/ProbaPro-Regular.ttf") format("truetype")
  //src: url("../fonts/ProbaPro/ProbaPro-Regular.svg#ProbaPro-Regular") format("svg")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "ProbaPro-Bold"
  src: url("../fonts/ProbaPro/ProbaPro-Bold.ttf") format("ttf")
  src: url("../fonts/ProbaPro/ProbaPro-Bold.eot")
  src: url("../fonts/ProbaPro/ProbaPro-Bold.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/ProbaPro/ProbaPro-Bold.woff") format("woff")
  src: url("../fonts/ProbaPro/ProbaPro-Bold.woff2") format("woff2")
  src: url("../fonts/ProbaPro/ProbaPro-Bold.ttf") format("truetype")
  //src: url("../fonts/ProbaPro/ProbaPro-Bold.svg#ProbaPro-Bold") format("svg")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "ProbaPro-Medium"
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf") format("ttf")
  src: url("../fonts/ProbaPro/ProbaPro-Medium.eot")
  src: url("../fonts/ProbaPro/ProbaPro-Medium.eot?#iefix") format("embedded-opentype")
  src: url("../fonts/ProbaPro/ProbaPro-Medium.woff") format("woff")
  src: url("../fonts/ProbaPro/ProbaPro-Medium.woff2") format("woff2")
  src: url("../fonts/ProbaPro/ProbaPro-Medium.ttf") format("truetype")
  //src: url("../fonts/ProbaPro/ProbaPro-Medium.svg#ProbaPro-Medium") format("svg")
  font-style: normal
  font-weight: 500